.home {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }

  .overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1000;
    background: #ec1417;  
  }
  
  .first {
    width: 33.3%;
    position: absolute;    
    left: 0%;
  }
  
  .second {
    width: 33.33%;
    position: absolute;
    left: 33.3%;
  }
  
  .third {
    width: 33.33%;
    position: absolute;
    left: 66.6%;
  }

