.contact {
    margin: 2rem auto;    
    max-width: 800px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: SourcePro;
        font-size: clamp(2rem, 4vw, 6rem);
        color: #ffa900;
        text-transform: uppercase;

        &:last-of-type {
            margin-bottom: 4rem;
        }
    }


    
    .contact_form {
        margin: 0 auto;
        width: 80%;
        height: 600px;
        /* border: 1px solid #888; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        &:valid input[type="submit"] {
            color: #101010;
            background-color: #ffa500;

            &:hover {
                transition: all 0.4s ease-in-out;
                color: white;
                background-color: #646c50;
            }
        }
        &:invalid input[type="submit"] {
            &:hover {
                transition: all 0.4s ease-in-out;
                color: black;
                background-color: #e95749;
            }
        }
        
    
        .input_field {
            position: relative;
            margin: 0.25rem auto 0.5rem;
            width: 80%;

            .check_icon {
                position: absolute;
                margin-left: 0.25rem;
                opacity: 0;

                &:last-child {
                    top: 0;
                }
            }
        }
    
        input,
        textarea {
            position: relative;
            padding: 0.25rem 0.5rem;
            color: white;
            font-size: 0.8rem;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid;
            width: 100%;
    
            &[type="textarea"] {
                height: 20vh;
                border: 1px solid #888;
            }    
        }

        input:focus,
        textarea:focus {
            outline: none;
            border-bottom: 1px solid #ededed;
        }

        input[type="submit"] {
            margin: 1rem auto 0;
            padding: 1rem 2rem;
            width: 40%;
            color: #888;
            background-color: transparent;
            border: 1px solid #888;
            cursor: pointer;

            /* &:hover {
                    background-color: #ffa500;
            } */
        }
    
    label {
        margin: 0.25rem auto 0.25rem;   
        text-align: left;
        color: #888;
        width: 80%;
    }
        
    input:invalid {
        border-bottom-color: #5c5c5c;
        ~.check_icon {
            opacity: 0.3;
        }
    }

    input:not([type='submit']):valid {
        outline: none;
        border-bottom-color: #ffa500;

        ~.check_icon {
            opacity: 1;
        }
        }

        textarea:invalid {
            border: 1px solid #88888880;
            ~.check_icon {
                opacity: 0.3;
            }
        }
        textarea:valid {
            border: 1px solid  #ffa500;

            ~.check_icon {
                opacity: 1;
            }
        }         

    }
}