.locker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

 